body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #e7e0db;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #83D2E4;
    border: 6px solid #6caebd;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #83D2E4;
    background-color: #e5d29f;
    color : #3d373c;
    padding: 0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

    border-radius: 0.2em;
}

.tile:hover{
    color: #d8ebef;
    background-color: #8bcf21;
}